nav {
   background: $color-dark;
   min-height: 10vh;
   padding-left: 30px;
   color: rgb(219, 219, 219);
   display: flex;
   align-items: center;
}

.navbar-logo {
   height: 8vh;
}

.navbar-links {
   display: flex;
   justify-content: space-around;
   align-items: center;
   list-style: none;
   font-size: 22px;
   font-weight: 600;

   li {
   color: $color-light;
   margin-left: 50px;
   }
}

.login-links {
      li {
         color: rgb(0, 110, 255);
         display: flex;
      }
}