.userpage {
    background: rgb(255, 255, 255);
    margin: 5%;
    padding: 3%;
}

.product-container {
    background: rgb(221, 221, 221);
    margin-bottom: 2%;
    width: 50%;
    border: 2px solid black;
    
    h3 {
        font-weight: 800;
    }
}