button {
  background: #57a5ff;
  height: 45px;
  width: 110px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-right: 20px;
  outline: none;
  cursor: pointer;
}

button:hover {
  background: #2e2e2e;
}

.form-container {
  margin: 2%;
}

.form-container h1 {
  margin-bottom: 5%;
}

.form-container form label {
  font-size: 1.5rem;
  font-weight: 700;
}

.form-container form input {
  width: 50%;
  height: 5vh;
  margin-bottom: 2vh;
  font-size: 1.8rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.App {
  background: #e9e9e9;
  min-height: 100vh;
  overflow: hidden;
}

.bookings {
  margin: 2%;
}

.bookings h1 {
  margin-bottom: 5%;
}

.bookings form label {
  font-size: 1.5rem;
}

.bookings form input {
  width: 50%;
  height: 5vh;
  margin-bottom: 2vh;
  font-size: 1.8rem;
}

nav {
  background: #2e2e2e;
  min-height: 10vh;
  padding-left: 30px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-logo {
  height: 8vh;
}

.navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  font-size: 22px;
  font-weight: 600;
}

.navbar-links li {
  color: #e9e9e9;
  margin-left: 50px;
}

.login-links li {
  color: #006eff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  background: white;
  width: 320px;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.59);
          box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.59);
  margin: 5% 2.5% 2% 2.5%;
}

.card img {
  border-radius: 5px 5px 0 0;
  display: block;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 150px;
}

.card-info {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: default;
}

.card-info h5 {
  font-size: 1.4rem;
}

.card-book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-book div {
  height: 45px;
  width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
}

.card-book div p {
  color: #535353;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
}
/*# sourceMappingURL=style.css.map */